


.main-sub{
margin-bottom: 10px;
text-align: center;
}

.main-sub h1{
  
    text-align: center;
    font-size: 2.75em;
    margin: 0.5em ;
    font-weight: 600;
    color: #070024;
}


.layer-sub{
    width: 100%;
    margin: 0 auto;
    padding: 0 137px;
    display: flex;
    background: linear-gradient(rgba(7, 7, 7, 0.7),rgba(20, 20, 20, 0.7)),url('../../assets/bb.jpg');
    height: 200px;
    align-items: center;
    justify-content: center;
    background-position: center;
    background-size: cover;

    
}
.form{
    margin: 80px;
   background: transparent;
    border: 0px;
    border-bottom: 2px solid #E9AB17;
    padding: 10px;
    color: #000000;
    width: 70vh;
 
}
.placeholder{
    color: white;
    text-align: center;
}

.sub-btn{
    margin-top: 2vh;
    background-color: black;
   color: white;
    padding: 14px 25px;
    font-size: 16px;
    border-radius: 30px;
    cursor: pointer;
    border: 0;
    outline: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 50px;
}
.sub-btn:hover{
    background-color:  #E9AB17;
}